# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
dist/
build/

# Capacitor / Android
android/
ios/
.capacitor/
capacitor.config.json

# Android Studio
.idea/
*.iml
.gradle/
local.properties

# iOS
*.xcworkspace
*.xcuserstate
Pods/

# Environment
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Misc
*.apk
*.aab
*.keystore

#
.vscode\
*.glb
*.webp